<!doctype html>
<html lang="fr">
{% include header.html %}

<body class="text-gray-700">

<img src="{{ '/build/front/images/logo_akawaka_noir.png' | absolute_url }}"
     class="hidden w-28 md:w-28 xl:w-36"
     alt="logo akawaka agence experte php symfony"/>

{{ content }}

{% include footer.html %}

</body>
</html>
