<main class="bg-gray-100">
    <div class="-translate-y-12 md:-translate-y-16 xl:-translate-y-24">
        <article class="bg-gray-100 shadow-2xl width height">
            <div class="container-big">

                <div class="mx-10 2xl:mx-20 grid grid-cols-blog gap-x-10 gap-y-10 md:grid-cols-blog-md">
                    {% for category in site.categories %}
                    <div class="space-y-5 flex-1 text-gray-700 card-blog card-gradient">
                        <img src="{{ category.image }}" alt="" class="w-full">

                        <h1 class="subtitle-blog">{{ category.subtitle }}</h1>

                        <div class="flex justify-center">
                            <div class="button-blog" title="Cliquez ici pour découvrir l'article">
                                <a href="{{ category.url }}">
                                    <p class="button-blog-gray">Voir la catégorie</p>
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>

            </div>
        </article>
    </div>
</main>
